<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free movie catalogue for you">
    <link rel="icon" href="favicon.png">
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <link rel="manifest" href="manifest.json">
    
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Food Village</title>
</head>

<body>
    <a href="#mainContent" class="skip-link">Langsung ke konten</a>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>Food Village</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/list">Restaurant</a></li>
                <li><a href="#/favorites">Favorites</a></li>
                <li><a href="https://www.linkedin.com/in/arthur-kalitouw-929b8b86/" target="__blank">About </a> </li>
            </ul>
        </nav>
    </header>
    <div class="hero_image" id="hero_image">
        <picture id="picture">
            <source media="(max-width:600px)" srcset="./images/heros/hero-image_4-small.jpg" id='picsrcset' type="image/jpeg">
            <img id='picimg' src="./images/heros/hero-image_4.jpg" alt="Hero Image" class="lozad" />
        </picture>
        <div class="main-text">
            <h1 id='image-text'>Explore Our Restaurant with specials menu for your hunger desire</h1>
        </div>
    </div>
    <main id="mainContent">
        
    </main>
    <footer>
        <p>copyright @2021 - Food Village by artofsomething</p>
    </footer>
    <div id="loading">
        <div style="text-align:center;width:150px;height:270px;overflow: hidden;border-radius:10px">
            <div class="loader">Loading...</div>
        </div>
    </div>
</body>

</html>